@charset 'UTF-8';


/*
	Style for thead when sorted
*/

.widefat thead tr th:hover {
	cursor: pointer;
}

.widefat thead tr th.sorttable_nosort:hover {
	cursor: default;
}

.add-or-edit-comment {
	width: 100%;
}

/* 
	Generic Styling, for Desktops/Laptops 
*/

table { 
	width: 100%; 
	border-collapse: collapse; 
}
/* Zebra striping */
/*tr:nth-of-type(odd) { 
	background: #eee; 
}*/
th { 
	/*background: #333; */
	/*color: #FFF !important;*/
	font-weight: bold; 
}
td, th { 
	padding: 6px; 
	border: 1px solid #ccc; 
	text-align: left; 
}

td {
	min-height: 20px;
}

 
@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px)  {

	table, thead, tbody, th, td, tr {
		display: block;
	}

	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

	/*tr { border: 1px solid #ccc; }*/

	td {
		border: none;
		border-bottom: 1px solid #eee;
		position: relative;
		padding-left: 50% !important;
	}

	td:before {
		position: absolute;
		top: 6px;
		left: 6px;
		width: 45%;
		padding-right: 10px;
		white-space: nowrap;
	}

	/*
	Label the data
	*/
	tbody#the-list tr td:nth-of-type(1):before { content: "Plugin"; }
	tbody#the-list tr td:nth-of-type(2):before { content: "User"; }
	tbody#the-list tr td:nth-of-type(3):before { content: "Date Installed"; }
	tbody#the-list tr td:nth-of-type(4):before { content: "Reason for installation"; }
	tbody#the-list tr td:nth-of-type(5):before { content: "Action"; }
	tbody#the-list tr td:nth-of-type(6):before { content: "Manage Comments"; }
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	body {
		padding: 0;
		margin: 0;
		width: 320px;
	}
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
	body {
		width: 495px;
	}
}